.contImgSpg7{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.imgSpg7{
  height: 90px;
}
.contImgMpg7{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.imgMpg7{
  height: 110px;
}
.pt-10{
  padding-top: 150px;
}