.videoPg4{
  margin: 30px;
}
.text1pg4{
  margin: 80px 50px 80px 0;
}
.img1pg4{
  height: 140px;
}
.cj2col1pg4{
  color: aliceblue;
  text-align: center;
}
.cj2col1pg4 h6{
  font-size: 20px;
  margin-top: 25px;
}
.cj2col1pg4 p{
  padding: 0 20px;
  font-size: 15px;
}
.cj2col2parrafosPg4{
  margin: 15px 12px;
}