<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="../css/styles.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <title>Document</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="../index.html">INICIO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pag1.html">Pag1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pag2.html">Pag2</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pag3.html">Pag3</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pag4.html">Pag4</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pag5.html">Pag5</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pag6.html">Pag6</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pag7.html">Pag7</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pag8.html">Pag8</a>
          </li>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
          <button class="btn btn-success" type="submit">Buscar</button>
        </form>
      </div>
    </div>
</nav>
<main>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="row cj1pg2">
          <div class="col-4 col-lg-2">
            <img class="img1pg2" src="../images/img3-bootstrapLogo.png" alt="">
          </div>
          <div class="col-6 col-lg-5">
            <h6>Prueba</h6>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse quas voluptas sapiente quaerat eius eaque quisquam soluta, architecto dicta adipisci.</p>
          </div>
        </div>
      </div>
      <div class="col-12 cj2pg2"></div>
      <div class="col-12 cj3pg2">
        <div class="row">
          <div class="col-12 col-lg-8 cj2col1pg2">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat repellendus fugit officiis aspernatur eligendi adipisci non totam eos dolore, soluta velit nemo saepe earum eius optio? Laboriosam facilis magnam maxime itaque assumenda, consequatur iure similique quaerat aut. Sunt maiores necessitatibus itaque reprehenderit expedita, officia placeat! Ullam est nesciunt eveniet facere.</p>
          </div>
          <div class="col-12 col-lg-4 cj2col2pg2">
            <div class="row">
              <div class="col-12">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore debitis alias neque suscipit optio sit quae aspernatur ducimus libero doloremque obcaecati, repellendus repellat repudiandae vero distinctio est et. Accusamus, neque. Lorem ipsum dolor sit.</p>
              </div>
              <div class="col-12 cj2col2cl2pg2">
                <img class="img2pg2" src="../images/img3-bootstrapLogo.png" alt="">
                <img class="img2pg2" src="../images/img3-bootstrapLogo.png" alt="">
                <img class="img2pg2" src="../images/img3-bootstrapLogo.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>