<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="../css/styles.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <title>Document</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="../index.html">INICIO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pag1.html">Pag1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pag2.html">Pag2</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pag3.html">Pag3</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pag4.html">Pag4</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pag5.html">Pag5</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pag6.html">Pag6</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pag7.html">Pag7</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pag8.html">Pag8</a>
          </li>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <main>
    <div class="container">
      <div class="row darkgrey">
        <div class="col-12 col-md-6">
          <div class="videoPg4">
            <div class="ratio ratio-16x9">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/-qfEOE4vtxE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="text1pg4">
            <h4>Prueba</h4>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse ex eius tempore repudiandae quisquam consequuntur cumque fuga libero accusamus enim quae quaerat, alias repellendus unde ad nulla velit harum eveniet reiciendis aliquid asperiores, ab ullam consectetur! Adipisci unde doloremque sapiente! Cum sapiente illum dicta eius fuga repudiandae ipsa ratione asperiores.</p>
          </div>
        </div>
      </div>
      <div class="row my-5 cj2pg4">
        <div class="col-12 col-lg-8 cj2col1pg4">
          <div class="row">
            <div class="col-4">
              <img class="img1pg4" src="../images/img3-bootstrapLogo.png" alt="">
              <h6>Prueba</h6>
              <p>Lorem ipsum dolor sit amet consectetur adipi sicing elit. Quia, eum.</p>
            </div>
            <div class="col-4">
              <img class="img1pg4" src="../images/img3-bootstrapLogo.png" alt="">
              <h6>Prueba</h6>
              <p>Lorem ipsum dolor sit amet consectetur adipi sicing elit. Quia, eum.</p>
            </div>
            <div class="col-4">
              <img class="img1pg4" src="../images/img3-bootstrapLogo.png" alt="">
              <h6>Prueba</h6>
              <p>Lorem ipsum dolor sit amet consectetur adipi sicing elit. Quia, eum.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 darkgrey cj2col2pg4">
          <div class="cj2col2parrafosPg4">
            <h4>Prueba</h4>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati molestiae nostrum sunt voluptas sequi quisquam! Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <h4>Prueba</h4>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati molestiae nostrum sunt voluptas sequi quisquam! Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <h4>Prueba</h4>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati molestiae nostrum sunt voluptas sequi quisquam! Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </div>
      </div>
    </div>
  </main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>